.item{
    background-color: aquamarine;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px 5px;
    width: 90%;
}
.item3{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}